<div class='sign-in-template'>
  {{email-input email=credentials.email}}
  {{password-input password=credentials.password}}

  {{!-- <div class="remember-me-wrapper">
    {{remember-me-input }}
  </div> --}}

  <button type="submit"
          class="btn btn-primary sign-in-button" {{action "submit"}}>
    Sign In
  </button>
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>
