
<div class="movie-card col-md-4 col-md-offset-1">
  <h4 class="float-right">{{yearReleased}}</h4>
  <h3 class="movie-title">{{title}}</h3>
  <h4>{{director}}</h4>
  <h4>{{genre}}</h4>
  <h4>{{rating}}</h4>
  {{!-- <form {{action 'createScreening' on='submit'}}>
    {{input placeholder='Rating out of 5'
            class='input-group form-control'
            value=form.rating}}
  </form> --}}
</div>
<div class="col-md-1"></div>
