<div class="form-group">
  <label for="previous">Old Password</label>
  {{input type="password"
          class="form-control"
          id="previous"
          value=passwords.previous}}
</div>

<div class="form-group">
  <label for="next">New Password</label>
  {{input type="password"
          class="form-control"
          id="next"
          value=passwords.next}}
</div>

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Change Password
</button>

<button class="btn btn-default" {{action "reset"}}>
  Clear
</button>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
