<h3 class="movie-title col-md-10"><em>{{title}}</em>  ({{yearReleased}})</h3>
<h4 class="col-md-9"><small>Director:</small><br>{{director}}</h4>
<h4 class="col-md-3"><small>Your Rating:<br></small>{{userRating}}/5</h4>
  {{!-- <form {{action 'createScreening' on='submit'}}>
    {{user-rating-input userRating=userRating}}
  </form> --}}
  {{!-- <button class="add-rating btn btn-default">Seen It!</button> --}}
