<div class='sign-up-template'>
  {{username-input username=credentials.username}}
  {{email-input email=credentials.email}}
      {{!-- ^ probably incorrect ^ --}}
  {{password-input password=credentials.password}}
  {{password-confirmation-input password=credentials.passwordConfirmation}}

  <button type="submit" class="btn btn-primary sign-up-button" {{action "submit"}}>
    Sign Up
  </button>
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}
</div>
